/* format */
@font-face{
    font-family: 'koko';
    src: url(../NanumSquareR.ttf) format('truetype');
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', 'Montserrat', koko, sans-serif;
    cursor: url(../img/cursor.png), auto;
}
::-webkit-scrollbar{
    display:none;
}
ul{
    list-style: none;
}
a{
    color: #ccc;
    text-decoration: none;
}
.click{
    cursor: url(../img/cursor_click.png), auto;
}
body{
    width: 100vw;
    overflow-x: hidden;
}


/************ 왼쪽 메뉴 ************/
#sidemenu{
    position: fixed;
    width: 250px;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    margin-left: -250px;
    z-index: 20;
    transition: all 0.5s;
}
.side{
    width: 100%;
    height: 100%;
}
.ham{
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 20;
    width: 50px;
    height: 50px;
}
.ham> i{
    font-size: 50px;
    color: #c58ec3;
    transition: all 0.5s;
}
.ham> i:hover{
    color: #482B47;
    transform: scale(1.2);
}
.side> p{
    color: #fff;
    font-size: 40px;
    width: 250px;
    margin: 30px;
    margin-bottom: 20px;
}
.side> .player{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.side> .player> li{
    font-size: 40px;
    color: #fff;
}
.side> .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 250px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.side> .menu> li{
    display: flex;
    align-items: center;
    color: #ccc;
    font-size: 30px;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    transition: all 0.5s;
}
.side> .menu> li:hover{
    background: rgba(0,0,0,0.3);
    color: #fff;
}

/****************** header *********************/
#header{
    width: 100%;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #91568F;
}
header> h1{
    font-size: 100px;
    color: #fff;
    text-shadow: 1px 1px 10px #555;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    font-family: 'Montserrat';
}
nav{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-top: 30px;
    width: 100%;
    background: #482B47;
    position: absolute;
}
nav> ul{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav> ul> li{
    font-size: 30px;
    color: #ccc;
    transition: all 0.5s;
}
nav> ul> li:hover{
    color:#fff;
    transform: scale(1.2);
}
header> img{
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/************ section format *************/
section{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    /* overflow: hidden; */
}
section> .wrap{
    width: 1200px;
    margin: 0 auto;
}
section h2{
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: normal;
    width: 100%;
    border-bottom: 2px solid #ccc;
    font-weight: 600;
    font-family: koko, serif;
}


/* sct1 */
#motto{
    position: relative;
    background: linear-gradient(#91568F, rgba(0,0,0,0.0));
    width: 100%;
}
#motto> .wrap> div{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    line-height: 70px;
    text-shadow: 0 0 15px #ddd;
    font-weight: 600;
}
#motto> .wrap> span{
    display: block;
    font-size: 25px;
    margin-top: 150px;
    text-align: center;
}


/* sct2 */
.portfolio-grid{
    height: 500px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 50px;
}
.port{
    position: relative;
}
.port> .imgdiv{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 0;
}
.port:nth-child(1) > .imgdiv, .popup:nth-child(1) > .imgdiv{background-image: url(../img/port1.png);}
.port:nth-child(2) > .imgdiv, .popup:nth-child(2) > .imgdiv{background-image: url(../img/port2.png);}
.port:nth-child(3) > .imgdiv, .popup:nth-child(3) > .imgdiv{background-image: url(../img/port3.png);}
.port:nth-child(4) > .imgdiv, .popup:nth-child(4) > .imgdiv{background-image: url(../img/port4.png);}
.port:nth-child(5) > .imgdiv{background-image: url(../img/port5.png);}
.popup:nth-child(5) > .imgdiv{background-image: url(../img/port5_.png);}
.port:nth-child(6) > .imgdiv, .popup:nth-child(6) > .imgdiv{background-image: url(../img/port6.png);}

.port> .gl{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 25px;
    border-radius: 10px 10px 0 10px;
    transform-origin: right bottom;
}
@keyframes kejack{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.port> .gl:hover{animation: kejack 0.5s infinite alternate linear;}

/* 포폴 팝업 */
#popup{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    transition: all 1s;
    transform: scale(0.1);
    opacity: 0.1;
}
#popup.on{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.popup{
    transition: all 1s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    visibility: hidden;
}
.popup:nth-child(1) > .imgdiv{background-image: url(../img/port1.png);}
.popup:nth-child(2) > .imgdiv{background-image: url(../img/port2.png);}
.popup:nth-child(3) > .imgdiv{background-image: url(../img/port3.png);}
.popup:nth-child(4) > .imgdiv{background-image: url(../img/port4.png);}
.popup> .imgdiv{
    background-repeat: no-repeat;
    height: auto;
    width: 50%;
    background-position: center;
    background-size: contain;
}
.popup> div{
    flex:1;
}
.popup> .ex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.popup> .ex> h3{
    color: #fff;
    font-size: 60px;
}
.popup> .ex> hr{
    margin: 30px 0;
}
.popup> .ex> p{
    color: #fff;
    font-size:  25px;
}
.popup> .ex> p> a{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.popup> .ex> p> a> i{
    font-size: 50px;
}
.popup> p{
    color: #fff;
    font-size: 1.5em;
}

/* stc3 */
#ability> .graph-div{
    width: 90%;
    height: 550px;
    margin-top: 50px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graph-div> .ab-graph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.ab-graph> p{
    width: 150px;
    text-align: right;
    transition: all 0.5s;
}
.ab-graph> div{
    width: 700px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.grap{
    height: 100%;
    width: 0;
    border-radius: 30px;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}
.grap.on{border-right: 1px solid #000;}

.ab-graph:nth-child(1) .grap.on{background: #00C8FF; width: 100%;}
.ab-graph:nth-child(2) .grap.on{background: #EA6029; width: 100%;}
.ab-graph:nth-child(3) .grap.on{background: #EABA25; width: 70%;}
.ab-graph:nth-child(4) .grap.on{background: #DB5440; width: 80%;}
.ab-graph:nth-child(5) .grap.on{background: #005798; width: 90%;}


/* sct4 */
#hobby> .tab-div{
    display: flex;
    margin-top: -1px;
}
.tab-div> div{
    padding: 5px 30px;
    font-size: 20px;
    border: 1px solid #555;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s;
}
.tab-div> div.on{
    background: #91568F;
    color: #fff;
}
.cont{
    display: none;
    height: 80%;
}
.cont.on{
    display: block;
}
.cont> ul{
    display: flex;
    height: 500px;
    justify-content: space-between;
    width: 2100px;
    margin-left: -900px;
    margin-top: 50px;
    position: relative;
}
.cont li{
    width: 900px;
    height: 100%;
    position: absolute;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 10px #999;
}
.cont li> img{
    width: 100%;
    animation: like-gif steps(28) 1s infinite both;
}
.cont1{
    transform: rotate(5deg);
    width: 800px;
    height: 400px; 
    top: -50px;
    left: 0;
    animation-play-state : paused;
}
.cont2{
    margin: 0;
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
}
.cont3{
    transform: rotate(-5deg);
    top: -50px;
    left: 100%;
    width: 800px;
    height: 400px; 
    animation-play-state : paused;
}

#colors{
    position: relative;
}
#colors> h2> a{
    float: right;
    margin-top: 20px;
    color: #222;
    border: 2px solid #222;
    border-radius: 10px 10px 0 10px;
    font-size: 20px;
    padding: 5px 10px;
    transition: all 0.5s;
}
#colors> h2> a:hover{
    color: #ccc;
    border: 2px solid #ccc;
    background: #222;
}
.box-div{
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 50px;
    position: relative;
}
.box-div> div{
    background-size: cover;
    background-position: center center;
    z-index: 4;
}
#violet, #gray, #green, #blue{
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.3em;
    transition: all 1s;
}
.box-div> div.on{
    z-index: 2;
}
#violet:hover, #gray:hover, #blue:hover, #green:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #555;
}
.box-div> div:nth-child(1){background-image: url(../color/img/v3.jpg); grid-column: 1/3;}
.box-div> #violet{background: #91568F;}
.box-div> div:nth-child(3){background-image: url(../color/img/g3.jpg); grid-column: 4/5; grid-row: 1/3;}
.box-div> #gray{background: #aaa;}
.box-div> #blue{background: rgb(57, 69, 228);}
.box-div> #green{background: rgb(142, 190, 123);}
.box-div> div:nth-child(7){background-image: url(../color/img/gr3.jpg); grid-column: 2/4}
.box-div> div:nth-child(8){background-image: url(../color/img/b2.jpg); grid-column: 5/7}

.box-div> div.black{
    position: absolute;
    z-index: 3;
    background: rgba(0,0,0,0.5);
    transition: all 0.5s;
    width: 0;
    height: 275px;
}
.black> div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    visibility: hidden;
    font-size: 1.3em;
}
.violet-b{top: 0; left: calc(200px * 2);}
.gray-b{top: 0; left: calc(200px * 4);}
.blue-b{top: 0; left: calc(200px * 4);}
.green-b{top:275px ; left: 0;}

div.violet-b.on{width: calc(200px * 2); height: 275px; left: 0;}
div.gray-b.on{width: 200px; height: calc(275px * 2); left: calc(200px * 3);}
div.blue-b.on{width: calc(200px * 2); height: 275px; top: 275px;}
div.green-b.on{width: calc(200px * 2); height: 275px; left: 200px;}


/********* info ********/
#info{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(72, 43, 71,0.5), rgba(72, 43, 71,0.9), #482B47);
}
.info-box{
    width: 80%;
    height: 400px;
    padding-top: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info-box> a{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    transition: all 0.5s;
}
.info-box> a:hover{
    transform: scale(1.1);
    color: #fff;
}
.info-box> a i{
    font-size: 100px;
    color: #333;
}
.info-box> a> p{
    line-height: 50px;
    font-size: 1.3em;
}


/************ footer ***********/
footer{
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.footer-div{
    width: 1200px;
    margin: 0 auto;
}
.footer-div> .logo{
    color: #fff;
    font-size: 50px;
    text-align: center;
    height: 80px;
    padding-top: 20px;
}
.footer-div> .menu{
    height: 50px;
    width: 85%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}
.footer-div> .menu> div{
    color: #ccc;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 1.4em;
    transition: all 0.5s;
}
.footer-div> .menu> div:last-child{
    border:none;
}
.footer-div> .menu> div:hover{
    color: #fff;
    font-size: 22px;
}
.footer-div> .sns{
    height: 50px;
    text-align: center; 
    line-height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-div> .sns i{
    font-size: 30px;
    color: #ccc;
    margin: 0 20px;
    transition: all 0.5s;
}
.footer-div> .sns i:hover{
    font-size: 40px;
    color: #fff;
}
.footer-div> .copy{
    color: #aaa;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}