/* width 반응형 */
@media(max-width : 1200px){

    .ham{
        top: 5px;
        left: 5px;
    }
    .ham> i{
        font-size: 40px;
    }

    /* header */
    nav> ul{
        width: 90%;
    }
    nav> ul> li{
        font-size: 20px;
    }
    section{
        width: 100%;
    }
    section> .wrap{
        width: 100%;
    }
    section> h2{
        padding: 0 20px;
    }

    /* popup */
    .popup> .ex> h3{
        font-size: 30px;
    }
    .popup> .ex> hr{
        margin: 20px 0;
    }
    .popup> .ex> p{
        font-size: 15px;
    }

    /* stc3 */
    .graph-div> .ab-graph{
        font-size: 25px;
    }
    .ab-graph> p{
        margin: 0 10px;
    }
    .ab-graph> div{
        width: 70%;
    }


    /* hobby */
    .cont> ul{
        width: 150vw;
        margin-left: -60vw;
    }
    .cont li{
        width: 70vw;
        height: auto;
    }
    .cont li> img{
        width: 100%;
    }
    .cont1{
        transform: rotate(5deg);
        width: 800px;
        height: 400px; 
        top: -50px;
        left: 0;
        animation-play-state : paused;
    }
    .cont2{
        margin: 0;
        top: 0;
        left: 50%;
        /* transform: translateX(-50%); */
    }
    .cont3{
        transform: rotate(-5deg);
        top: -50px;
        left: 100%;
        width: 800px;
        height: 400px; 
        animation-play-state : paused;
    }


    /* colors */    
    .violet-b{top: 0; left: calc(100% / 1);}
    .gray-b{top: 0; left: calc((100% / 6)* 4);}
    .blue-b{top: 0; left: calc((100% / 6)* 4);}
    .green-b{top:50%; left: 0;}
    
    div.violet-b.on{width: calc((100% / 6)*2); height: 50%; left: 0;}
    div.gray-b.on{width: calc(100% / 6); height: 100%; left: calc((100% / 6)*3);}
    div.blue-b.on{width: calc((100% / 6)*2); height: 50%; top: 50%; left: calc((100% / 6)*4);}
    div.green-b.on{width: calc((100% / 6)*2); height: 50%; left: calc(100% / 6);}
    
    .footer-div{
        width: 100%;
    }
    .footer-div> .menu{
        width: 100%;
    }
}

/* height 반응형 */
@media(max-height : 900px){
    .side> p{
        margin: 10px;
    }
    .side> .menu{
        height: 80%;
        bottom: 0;
        transform: translateY(-40%);
        transform-origin:top;
    }
    .side> .menu> li{
        height: calc((80%-80px)/7);
    }

    /* 메인이미지 */
    header> img{
        height: 50%;
        width: auto;
    }

    /* 모토 */
    #motto> .wrap> div{
        margin-top: 5%;
        line-height: 70px;
    }
    #motto> .wrap> span{
        margin-top: 5%;
    }
    .portfolio-grid{
        height: 80%;
        margin-top: 2%;
    }

    /* ability */
    #ability> .graph-div{
        height: 80%;
        margin-top: 2%;
    }

    /* hobby */
    .cont> img{
        height: 80%;
        width: auto;
    }
    .cont> ul{
        margin-top: 5%;
        height: 80%;
    }
    .cont> ul> li{
        height: 100%;
    }
    .box-div{
        height: 80%;
        margin: 2%;
    }

    /* footer */
    .info-box{
        margin: 0 auto;
        height: 60%;
    }

}